@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  transition: 0.3s;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url(bg-image.jpg); */
  /* background-size: cover; */
}

main {
  position: relative;
  width: 25%;
  height: 85%;
  padding: 30px;
  justify-content: center;
  border-radius: 5px;
  margin: 30px auto;
  position: relative;
  text-align: center;
  /* background: rgba(0, 0, 0, 0.8); */
  overflow: hidden;
}

main::before {
  content: '';
  z-index: 1;
  position: absolute;
  top: -50%;
  left: -50%;
  background: linear-gradient(0deg, transparent, #ff6a00, #ff6a00);
  width: 100%;
  height: 100%;
  animation: animate 7s linear infinite;
  transform-origin: bottom right;
}

main::after {
  content: '';
  z-index: 1;
  position: absolute;
  top: -50%;
  left: -50%;
  background: linear-gradient(0deg, transparent, #ff6a00, #ff6a00);
  width: 100%;
  height: 100%;
  animation: animate 7s linear infinite;
  transform-origin: bottom right;
  animation-delay: -3.5s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fa-times {
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  /* color: #fff; */
  cursor: pointer;
}

.container {
  position: absolute;
  inset: 3px;
  z-index: 10;
  background: #fff;
  padding: 20px;
  border: 2px solid #ff6a00;
  border-radius: 5px;
}

.image {
  margin: 50px;
}

.logo {
  height: 150px;
}

.input-group {
  position: relative;
  width: 100%;
  margin: 20px 0;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-group input {
  border: none;
  padding: 10px;
  width: 100%;
  background: transparent;
  color: #fff;
  font-size: 18px;
  border: 1px solid;
  position: relative;
  z-index: 10;
}

.input-group span {
  position: absolute;
  left: 10px;
  pointer-events: none;
  transition: 0.3s;
}

.input-group span i {
  margin-right: 5px;
}

.input-group input:focus ~ span,
.input-group input:valid ~ span {
  transform: translateY(-30px);
  font-size: 12px;
}

.input-group .block-fill {
  height: 3px;
  width: 100%;
  background: #ff6a00;
  position: absolute;
  bottom: 0;
  transition: 0.3s;
}

.input-group input:focus ~ i,
.input-group input:valid ~ i {
  height: 40px;
  bottom: 3px;
}

button {
  width: 100%;
  padding: 15px 25px;
  font-size: 17px;
  border: 1px solid #ff6a00;
  background: #ff6a00;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.5s;
}

button:hover {
  background: transparent;
  color: #ff6a00;
  font-weight: bold;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.links a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}
